In [1]:
#1. What will be the output of the "a"+"bc" Python statement.
"a" + "bc"

'abc'

In [2]:
#2 my_first_string = "algebra" is a string. Write python program to find the position of "g".
my_first_string = "algebra"
str_to_be_searched = 'g'
counter = 0
for i in my_first_string:
    counter += 1
    if i == str_to_be_searched:
        print(counter)

3

In [3]:
#3. Write python program to reverse the string str1 = "helloworld"
str1 = "helloworld"
print(str1[::-1])

dlrowolleh

In [4]:
#4. What is the length of string algo = 'regres sion '
algo = "regres sion "
print(len(algo))

12

In [5]:
#5.Write a python code to print {wo}.string is example = 'snow world'
example = 'snow world'
output = example[5:7]
print(output)

wo

In [6]:
# 6. Write a python program to string = "Principal Component" find the 10th position letter.
string = "Principal Component"
print(string[9])
# since the 10th element would be at 9th index

In [7]:
# 7. Write a python program string = "Principal Component" to print the last letter?
string = "Principal Component"
print(string[-1])

t

In [8]:
#8. What type of error you face while running the following code in python Environment?
example = "snow world

SyntaxError: EOL while scanning string literal (3548807773.py, line 2)

In [9]:
# 9. Write a code for lower the all letters in string algorithm = "Neural Networks"
algorithm = "Neural Networks"
print(algorithm.lower())

neural networks

In [10]:
# 10. Write a code for replacing string txt = 'I like bananas' sub part of string "bananas" with "apples".
txt = 'I like bananas'
new_txt = ''
split_txt = txt.split()
for i in split_txt:
    if i == 'bananas':
        new_txt += "apples" + " "
    else:
        new_txt += i + " "
print(new_txt)

I like apples

In [11]:
# 11. first_name = 'Nambi', last_name = "Narayan", write a program for combining the first name and last name?

first_name = "Nambi"
last_name = "Narayan"
full_name = first_name + " " + last_name
print(full_name)

Nambi Narayan

In [12]:
#12. In the given txt = "welcome to the jungle" seperate that sentence into a list of string words.
txt = "Welcome to the jungle"
txt.split()

['Welcome', 'to', 'the', 'jungle']

In [13]:
# 13. Write your name as string and convert the first of each word in upper case using python?
string = "kumar abhishek"
split_str = string.split()
word = ""
for txt in split_str:
    word += txt.capitalize() + " "
print(word)

Kumar Abhishek

In [15]:
# 14. Python program to check whether the string is Palindrome or not?
orignal_text = input("Enter a string to check whether its palindrome or not... \n>")
reverse_text = orignal_text[::-1]

if orignal_text.casefold() == reverse_text.casefold():
    print("The string is palindrome")
else:
    print("The string is not palindrome")

Enter a string to check whether its palindrome or not...
>Naman
The string is palindrome

In [16]:
# 15. Write a program to ger the output HelloWorld!, HelloHelloHello.
word1 = "Hello"
word2 = "World"
print(f'''{word1}{word2}, {word1*3}''')

HelloWorld, HelloHelloHello

In [17]:
# 16. Write program to ger the output as list of tuples from string strn = "cold"
strn = "cold"
txt = []
for elements in strn:
    txt += elements
my_tuple = tuple(txt)
print(my_tuple)

('c', 'o', 'l', 'd')

In [18]:
# 17. Write python program for counting occurrences of an element in a list = [15, 6, 7, 10, 12, 20, 10, 28, 10]
list1 = [15, 6, 7, 10, 12, 20, 10, 28, 10]
element = int(input(">"))
count = 0
for items in list1:
    if items == element:
        count += 1
print(count)

# IInd method using count().

list1 = [15, 6, 7, 10, 12, 20, 10, 28, 10]
number = int(input("Using count()\n>"))
counter = list1.count(number)
print(counter)

>10
3
Using count()
>10
3

In [19]:
# 18. Write python program for most frequent values/occurrence in the list test = [1, 2, 3, 4, 2, 3, 2, 1, 4, 4, 4]
list1 = [1, 2, 3, 4, 2, 3, 2, 1, 4, 4, 4]

# Ist method - without count funtion

def occurrence(element):
    count = 0
    for items in list1:
        if items == element:
            count += 1
    return count


def highest_occurrence(list_copy):
    current_highest_frequency = 0
    num = list_copy[0]
    for items in list_copy:
        current_element_frequency = occurrence(items)
        if current_element_frequency > current_highest_frequency:
            current_highest_frequency = current_element_frequency
            num = items

    return num


print(highest_occurrence(list1))

# IInd method: using count().

list1 = [1, 2, 3, 4, 2, 3, 2, 1, 4, 4, 4]


def occurrence1(element, list_copy2):
    counter = list_copy2.count(element)
    return counter


def highest_occurrence1(list_copy):
    current_highest_frequency = 0
    num = list_copy[0]
    for items in list_copy:
        current_element_frequency = occurrence1(items, list_copy)
        if current_element_frequency > current_highest_frequency:
            current_highest_frequency = current_element_frequency
            num = items

    return num


print(highest_occurrence1(list1))

4
4

In [20]:
# 19. Write python program for finding the minimun and maximum numbers in list list1 = [201, 55, 10, 5, 80, 90, 1, 1000]
list1 = [201, 55, 10, 5, 80, 90, 1, 1000]
min = list1[0]
max = list1[0]

for items in list1:
    if items < min:
        min = items
    elif items > max:
        max = items

print(f'''Greatest number = {max}\n&\nSmallest number = {min}\nin the given list...''')

Greatest number = 1000
&
Smallest number = 1
in the given list...

In [21]:
# 20. Write python program for finding the second-largest number in a list, list3 = [70, 11, 20 , 4, 100]
list3 = [70, 11, 20, 4, 100]
list3.sort()
number = 0
b = True
for i in range(2):
    maximum = max(list3)
    while b:
        if maximum == list3[-1]:
            number = list3.pop()
        else:
            b = False
    b = True

print(number)

# IInd method - since the elements are unique...
list3 = [70, 11, 20, 4, 100]
list3.sort()
print(list3[-2])

TypeError: 'int' object is not callable

In [22]:
# 21. Python program for counting unique values in the  list input_list = [1, 2, 2, 5, 8, 4, 4, 8]
input_list = [1, 2, 2, 5, 8, 4, 4, 8]
input_list.sort()
new_list = []
for items in input_list:
    if items not in new_list:
        new_list.append(items)

print(len(new_list))

5

In [23]:
# 22. Write a python program add "Laxman" to python list list = [1, 2, 3, 4]
input_list = [1, 2, 3, 4]
input_list.append("Laxman")
print((input_list))

[1, 2, 3, 4, 'Laxman']

In [24]:
#23. Write python program for removing index position 2 value from list list = [1, 2, 3, 4, 5, 15]
input_list = [1, 2, 3, 4, 5, 15]
input_list.pop(1)
print(input_list)

[1, 3, 4, 5, 15]

In [25]:
# 24.Write python program for add list ['Kullback-Libler'] to an existing list loss_functions = ['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']
loss_functions = ['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']
list1 = ['Kullback-Libler']
final_list = loss_functions + list1
print(final_list)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Libler']

In [26]:
# 25. Write a python program to interchange first and last elements in list ravi = [12, 35, 9, 56, 24]
ravi = [12, 35, 9, 56, 24]

first_element = ravi.pop(0)
last_element = ravi.pop()

ravi.insert(0, last_element)
ravi.append(first_element)

print(ravi)

[24, 35, 9, 56, 12]

In [27]:
# 26. write python program for reversing a list in python list = [0, 11, 12, 13, 14, 15]
input_list = [10, 11, 12, 13, 14, 15]
input_list.reverse()
print(input_list)

[15, 14, 13, 12, 11, 10]

In [29]:
# 27. write python program for Grab the element at the index -3, which is the third last element of tuple Tuple = input_tuple = ('one', 2, 4.53, 'asbc')
input_tuple = ('one', 2, 4.53, 'asbc')
third_last_value = input_tuple[-3]
print(third_last_value)

2

In [33]:
# 28. Write a python program for total occurrence of 1 in a tuple = (1, 2, 3, 4, 5, 6, 1, 1, 2)
my_tuple = (1, 2, 3, 4, 5, 6, 1, 1, 2)
print(f'''1 occurs in the tuple for {my_tuple.count(1)} times''')

1 occurs in the tuple for 3 times

In [32]:
# 29. Write a python program for concatenate the tuples Tuple1 = (0, 1, 2, 3), Tuple2 = (4, 5, 6, 7)
my_tuple1 = (0, 1, 2, 3)
my_tuple2 = (4, 5, 6, 7)
result_tuple = my_tuple1 + my_tuple2
print(result_tuple)

# second way could be using the sum()
result_tuple = sum((my_tuple1, my_tuple2), ())
print(result_tuple)

(0, 1, 2, 3, 4, 5, 6, 7)
(0, 1, 2, 3, 4, 5, 6, 7)

In [34]:
# 30. Write a python code to get the output as n from 'Daman' name = ['Amir', 'Bear', 'Carlton', 'Daman']

my_list = ['Amir', 'Bear', 'Carlton', 'Daman']
str_to_be_searched = 'Daman'
word_to_be_searched = 'n'

for items in my_list:
    if str_to_be_searched is items:
        print(str_to_be_searched[-1])

n